@{
    ViewData["Title"] = "Préférence";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <ul>
        <li>
            <h2>#1 Hollow Knight</h2>
        </li>
        <li>
            <img src="img/HollowKnight.jpg">
        </li>

    </ul>
</div>